/* font-family: "SegoeUIRegular"; */
@font-face {
    font-family: "SegoeUI";
    src: url("../fonts/SegoeUIRegular.eot");
    src: url("../fonts/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUIRegular.woff") format("woff"),
    url("../fonts/SegoeUIRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "SegoeUIBold"; */
@font-face {
    font-family: "SegoeUI";
    src: url("../fonts/SegoeUIBold.eot");
    src: url("../fonts/SegoeUIBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUIBold.woff") format("woff"),
    url("../fonts/SegoeUIBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
/* font-family: "SegoeUIItalic"; */
@font-face {
    font-family: "SegoeUI";
    src: url("../fonts/egoeUIItalic.eot");
    src: url("../fonts/SegoeUIItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUIItalic.woff") format("woff"),
    url("../fonts/SegoeUIItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: normal;
}