#loader{position:fixed;left:0;top:0;right:0;bottom:0;z-index:100;background:#F7F7F7;-webkit-transition:all .5s;transition:all .5s;-webkit-transform-origin:bottom;-ms-transform-origin:bottom;transform-origin:bottom}
.cssload-cube{margin-left:-58px;margin-top:-58px;width:117px;height:117px;left:50%;top:50%;position:absolute;transform-style:preserve-3d;-o-transform-style:preserve-3d;-ms-transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;animation:cssload-move-cube infinite 1.73s;-o-animation:cssload-move-cube infinite 1.73s;-ms-animation:cssload-move-cube infinite 1.73s;-webkit-animation:cssload-move-cube infinite 1.73s;-moz-animation:cssload-move-cube infinite 1.73s}
.cssload-plane-1,.cssload-plane-2,.cssload-plane-3{width:117px;height:117px;position:absolute;transform-style:preserve-3d;-o-transform-style:preserve-3d;-ms-transform-style:preserve-3d;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d}
.cssload-plane-3{transform:translate3d(0,0,-58px);-o-transform:translate3d(0,0,-58px);-ms-transform:translate3d(0,0,-58px);-webkit-transform:translate3d(0,0,-58px);-moz-transform:translate3d(0,0,-58px)}
.cssload-plane-2{transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0)}
.cssload-plane-1{transform:translate3d(0,0,58px);-o-transform:translate3d(0,0,58px);-ms-transform:translate3d(0,0,58px);-webkit-transform:translate3d(0,0,58px);-moz-transform:translate3d(0,0,58px)}
.cssload-plane-1 div,.cssload-plane-2 div,.cssload-plane-3 div{-webkit-border-radius:50%;border-radius:50%;position:absolute;width:8px;height:8px;animation:cssload-reverse-circles infinite 1.73s;-o-animation:cssload-reverse-circles infinite 1.73s;-ms-animation:cssload-reverse-circles infinite 1.73s;-webkit-animation:cssload-reverse-circles infinite 1.73s;-moz-animation:cssload-reverse-circles infinite 1.73s}
.cssload-plane-1 div{background:#A1C739}
.cssload-plane-2 div{background:#87A730}
.cssload-plane-3 div{background:#6B8426}
.cssload-top-left{top:0;left:0}
.cssload-top-middle{top:0;left:55px}
.cssload-top-right{top:0;right:0}
.cssload-middle-left{top:55px;left:0}
.cssload-middle-middle{top:55px;left:55px}
.cssload-middle-right{top:55px;right:0}
.cssload-bottom-left{bottom:0;left:0}
.cssload-bottom-middle{bottom:0;left:55px}
.cssload-bottom-right{bottom:0;right:0}
@keyframes cssload-move-cube{0%{-webkit-transform:rotateX(0) rotateY(0) rotateZ(0);transform:rotateX(0) rotateY(0) rotateZ(0)}
20%{-webkit-transform:rotateX(0) rotateY(0) rotateZ(-180deg);transform:rotateX(0) rotateY(0) rotateZ(-180deg)}
35%{-webkit-transform:rotateX(0) rotateY(0) rotateZ(-180deg);transform:rotateX(0) rotateY(0) rotateZ(-180deg)}
50%{-webkit-transform:rotateX(-34.6deg) rotateY(44deg) rotateZ(0);transform:rotateX(-34.6deg) rotateY(44deg) rotateZ(0)}
65%{-webkit-transform:rotateX(-34.6deg) rotateY(44deg) rotateZ(0);transform:rotateX(-34.6deg) rotateY(44deg) rotateZ(0)}
80%{-webkit-transform:rotateX(0) rotateY(0) rotateZ(0);transform:rotateX(0) rotateY(0) rotateZ(0)}
100%{-webkit-transform:rotateX(0) rotateY(0) rotateZ(0);transform:rotateX(0) rotateY(0) rotateZ(0)}
}
@-webkit-keyframes cssload-move-cube{0%{-webkit-transform:rotateX(0) rotateY(0) rotateZ(0)}
20%{-webkit-transform:rotateX(0) rotateY(0) rotateZ(-180deg)}
35%{-webkit-transform:rotateX(0) rotateY(0) rotateZ(-180deg)}
50%{-webkit-transform:rotateX(-34.6deg) rotateY(44deg) rotateZ(0)}
65%{-webkit-transform:rotateX(-34.6deg) rotateY(44deg) rotateZ(0)}
80%{-webkit-transform:rotateX(0) rotateY(0) rotateZ(0)}
100%{-webkit-transform:rotateX(0) rotateY(0) rotateZ(0)}
}
@keyframes cssload-reverse-circles{0%{-webkit-transform:rotateX(0) rotateY(0) rotateZ(0);transform:rotateX(0) rotateY(0) rotateZ(0)}
20%{-webkit-transform:rotateX(0) rotateY(0) rotateZ(0);transform:rotateX(0) rotateY(0) rotateZ(0)}
35%{-webkit-transform:rotateX(0) rotateY(0) rotateZ(0);transform:rotateX(0) rotateY(0) rotateZ(0)}
50%{-webkit-transform:rotateX(35deg) rotateY(-35deg) rotateZ(0);transform:rotateX(35deg) rotateY(-35deg) rotateZ(0)}
65%{-webkit-transform:rotateX(35deg) rotateY(-35deg) rotateZ(0);transform:rotateX(35deg) rotateY(-35deg) rotateZ(0)}
80%{-webkit-transform:rotateX(0) rotateY(0) rotateZ(0);transform:rotateX(0) rotateY(0) rotateZ(0)}
100%{-webkit-transform:rotateX(0) rotateY(0) rotateZ(0);transform:rotateX(0) rotateY(0) rotateZ(0)}
}
@-webkit-keyframes cssload-reverse-circles{0%{-webkit-transform:rotateX(0) rotateY(0) rotateZ(0)}
20%{-webkit-transform:rotateX(0) rotateY(0) rotateZ(0)}
35%{-webkit-transform:rotateX(0) rotateY(0) rotateZ(0)}
50%{-webkit-transform:rotateX(35deg) rotateY(-35deg) rotateZ(0)}
65%{-webkit-transform:rotateX(35deg) rotateY(-35deg) rotateZ(0)}
80%{-webkit-transform:rotateX(0) rotateY(0) rotateZ(0)}
100%{-webkit-transform:rotateX(0) rotateY(0) rotateZ(0)}
}
body:not(.loaded) section:not(.header){display:none!important;background:0 0!important}
.loaded #loader{-webkit-transform:scale(1,0);-ms-transform:scale(1,0);transform:scale(1,0)}
body:not(.loaded) .menu{display:none}
#loader{position:fixed;left:0;top:0;right:0;bottom:0;z-index:100;-webkit-transition:all .5s;transition:all .5s;-webkit-transform-origin:center bottom 0;-ms-transform-origin:center bottom 0;transform-origin:center bottom 0;background:#f7f7f7}
.cssload-cube{margin-left:-58px;margin-top:-58px;width:117px;height:117px;left:50%;top:50%;position:absolute;-webkit-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-animation:cssload-move-cube 1.73s infinite;animation:cssload-move-cube 1.73s infinite}
.cssload-plane-1,.cssload-plane-2,.cssload-plane-3{width:117px;height:117px;position:absolute;-webkit-transform-style:preserve-3d;transform-style:preserve-3d}
.cssload-plane-3{-webkit-transform:translate3d(0,0,-58px);transform:translate3d(0,0,-58px)}
.cssload-plane-2{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.cssload-plane-1{-webkit-transform:translate3d(0,0,58px);transform:translate3d(0,0,58px)}
.cssload-plane-1 div,.cssload-plane-2 div,.cssload-plane-3 div{-webkit-border-radius:50%;border-radius:50%;position:absolute;width:8px;height:8px;-webkit-animation:cssload-reverse-circles 1.73s infinite;animation:cssload-reverse-circles 1.73s infinite}
.cssload-plane-1 div{background:#a1c739}
.cssload-plane-2 div{background:#87a730}
.cssload-plane-3 div{background:#6b8426}
.cssload-top-left{top:0;left:0}
.cssload-top-middle{top:0;left:55px}
.cssload-top-right{top:0;right:0}
.cssload-middle-left{top:55px;left:0}
.cssload-middle-middle{top:55px;left:55px}
.cssload-middle-right{top:55px;right:0}
.cssload-bottom-left{bottom:0;left:0}
.cssload-bottom-middle{bottom:0;left:55px}
.cssload-bottom-right{bottom:0;right:0}
.loaded #loader{-webkit-transform:scale(1,0);-ms-transform:scale(1,0);transform:scale(1,0)}
section,section>div{position:relative;z-index:2}
*{margin:0;padding:0;-webkit-box-sizing:border-box;box-sizing:border-box;background-position:50% 50%;background-repeat:no-repeat}
::after,::before{content:"";display:block;width:100%;height:0;clear:both}
a::after,a::before,br::after,br::before,img::after,img::before,span::after,span::before,sup::after,sup::before,table::after,table::before,td::after,td::before,tr::after,tr::before{content:none}
h1,h2,h3,h4,h5{font-size:1em;text-align:center;font-family:Roboto;font-weight:300;letter-spacing:.01em}
body{font-family:Roboto,sans-serif;font-weight:400;color:#141414}
.header .phone,.header h2{font-family:Roboto}
a{text-decoration:none;color:inherit;outline:0!important}
button,input,textarea{outline:0}
section{width:100%;min-width:980px;overflow:hidden;min-height:600px;height:100vh;background-size:cover!important}
section>div{max-width:980px;height:100%;margin:0 auto}
section>div>div{height:600px;top:50%;margin-top:-300px}
.header{background-image:url(img/bg1.jpg)}
.header .logo{width:192px;height:83px;float:left;margin-left:75px;margin-top:-10px;background-image:url(img/logo.png)}
.header .call{float:right;margin-right:77px;margin-top:-12px}
.header .phone{float:right;font-size:27px;margin-bottom:10px}
.header .callback{width:199px;height:39px;border:1px solid #7a9d17;display:block;clear:both;color:#fff;font-size:16px;text-align:center;line-height:34px;-webkit-border-radius:20px;border-radius:20px;position:relative;-webkit-transition:all .25s;transition:all .25s;background-color:#89a831}
.header .callback:hover{background-color:#799821}
.header .callback:hover::after{opacity:1}
.gallery .nav-s a::after,.header .callback::after{opacity:0;-webkit-transition:all .25s;transition:all .25s;content:""}
.header .callback::after{display:block;width:19px;height:17px;position:absolute;left:10px;top:9px;background-image:url(img/callbackico.png)}
.attention .trigw>*,.economy a,.header h2 span,.we-can .nav>*,.why .trigw>*,a.g-btn{display:inline-block}
.header h2{clear:both;font-size:54px;font-weight:300;line-height:67px;margin-top:68px}
.header h2 span{margin-left:-75px;padding-left:59px;margin-right:-55px;padding-right:55px;position:relative}
.header h2 span::after{content:"";position:absolute;left:0;top:0;width:100%;-webkit-transition:all .25s;transition:all .25s;height:100%;z-index:-1;background:url(img/paint.png) 0 4px no-repeat}
.header .prich{width:394px;height:96px;color:#fff;margin:223px auto 0;position:relative;padding:6px 0 6px 109px;background-color:#89a831}
.header .prich p{font-size:27px;font-weight:700;line-height:32px}
.header .prich span{font-size:19px;font-weight:400;line-height:23px}
.header .smeta{width:122px;height:180px;position:absolute;left:-19px;top:-29px;background-image:url(img/smeta.png)}
input{width:248px;height:47px;border:1px solid #c2c2c2;-webkit-box-shadow:rgba(0,0,0,.137255) 0 3px 5px inset;box-shadow:rgba(0,0,0,.137255) 0 3px 5px inset;-webkit-border-radius:50px;border-radius:50px;font-size:14px;font-style:italic;padding-left:40px;margin-right:32px}
button,button:hover{font-size:20px;font-family:Roboto}
button{width:198px;height:47px;border:3px solid #fff;color:#fff;-webkit-transition:all .25s;transition:all .25s;-webkit-border-radius:100px;border-radius:100px;background:0 0}
.contacts div.callback{position:absolute;width:100%;top:348px;color:#fff;text-align:center;padding-top:20px;height:95px;background:rgba(0,0,0,.8)}
.contacts .phone{display:block;font-family:Roboto;font-size:23px}
.contacts a.callback{display:inline-block;font-size:17px;margin-top:1px;border-bottom-width:1px;border-bottom-style:dashed;border-bottom-color:#fff;-webkit-transition:all .25s;transition:all .25s;position:relative}
.contacts a.callback::after{content:"";width:11px;height:16px;position:absolute;left:-16px;top:6px;background-image:url(img/call-f.png)}
.contacts a.callback:hover{border-bottom-width:1px;border-bottom-style:dashed;border-bottom-color:transparent}
.header .prich span,body,button,input,textarea{font-weight:300}
.header .prich p,.phone{font-weight:500}
.header .prich{padding:6px 0 6px 109px;width:350px;margin-top:190px}
section>div>div{height:640px;padding:20px 0;margin-top:-320px}
button{padding-bottom:3px;font-size:19px}
button:hover{padding-bottom:3px;font-size:19px;background:#83b11a}
.contacts a.callback{margin-left:15px}
.header .head{height:100px;padding:6px 0 0;position:absolute;top:20px;margin-top:0;z-index:5;text-align:center}
.header h2{margin-top:143px;text-shadow:#fff 0 0 2px;font-size:46px}
.header h2.animation{opacity:0;-webkit-transition:opacity 1s,top .75s;transition:opacity 1s,top .75s;position:relative;top:100px}
.header h2.animation.animated{opacity:1;top:0}
.header h2.animation span::after{width:0;-webkit-transition:all .5s 1s;transition:all .5s 1s}
.header h2.animation.animated span::after{width:100%}
.site-nav::after{position:absolute;width:80px;height:100%;top:0;z-index:-1}
.site-nav{position:absolute;width:50%;max-width:140px;height:100%;z-index:1;top:0;opacity:0;-webkit-transition:all .25s;transition:all .25s;cursor:pointer}
.site-nav.down::before{width:32px;height:18px;right:24px;position:absolute;z-index:3;top:50%;margin-top:-9px;background:url(img/down.png) no-repeat}
.site-nav:hover{opacity:1;background-position:24px 50%}
.site-nav:hover::before{top:50%}
.site-nav.down{right:0}
.site-nav.down.animation{opacity:0;-webkit-transition:opacity .25s 2s;transition:opacity .25s 2s}
.site-nav.down.animated{opacity:1}
.site-nav.down::after{right:0;background:rgba(0,0,0,.14902)}
.site-nav.down.animation.animated::before{-webkit-animation:draggable .5s cubic-bezier(.7,.01,1,1) infinite alternate;animation:draggable .5s cubic-bezier(.7,.01,1,1) infinite alternate}
.header .logo{margin-right:-24px;width:227px;margin-left:20px}
.header .head p.desc{margin:0 auto;width:340px;text-align:center;display:inline-block;font-size:20px;padding-top:20px}
.header .call{margin-right:20px}