body,button,input,textarea,.header .prich span{font-weight: 300;}
.phone,.header .prich p{font-weight: 500;}
.header .prich{padding: 6px 0 6px 109px;width: 350px;margin-top: 121px;/* margin-top: 130px; *//* margin-top: 156px; */}
section > div > div{
    /* height: 640px; */
    /* padding: 20px 0; */
    /* margin-top: -320px; */
}
.why .trigw p{
    font-size: 24px;
    text-shadow: 0 0 5px #6D6A69,0 0 2px #6D6A69;
    margin-bottom: 40px;
    line-height: 40px;
}
.calculate p{
    font-size: 28px;
}
a.g-btn{
    line-height: 47px;
    background: transparent;
    color: white;
    /* background: rgba(255, 255, 255, 0.4); */
    background: rgba(137,168,49,.46);
    transition: all 0.25s;
}
.we-can a{
    font-size: 19px!important;
    opacity: 0.5;
}
.we-can .slides span{
    font-size: 24px;
    line-height: 30px;
}
.attention p{
    font-size: 20px;
    line-height: 25px;
    margin-top: -16px;
}
.gallery .nav a{
	font-size: 18px;
	width: 20%;
	line-height: 54px;
}
.gallery .nav-s a{
    font-size: 19px;
    /* padding: 0 4px; */
    line-height: 29px;
    margin: 0 64px;
}
.gallery .nav-s a:after{
    left: -46px;
}
.about-us .trig:nth-child(3) .green{
    line-height: 34px;
    position: relative;
    top: -11px;
}
.about-us .trig:nth-child(4) .green{
    margin-left: 29px;
}
.deadline a{
    font-size: 21px!important;
    margin: 0;
    width: 100%;
    height: 112px;
    border: none;
    background: rgba(239, 241, 246, 0.4);
    color: white;
    /* color: #141414; */
    border-radius: 0;
    line-height: 107px;
    background-position: 110px center!important;
}
.deadline .formw > h4{
    line-height: 27px;
    font-size: 19px;
    padding-top: 58px;
}
button{
    /* padding-bottom: 8px; */
    font-size: 36px;
}
button:hover{
    /* padding-bottom: 3px; */
    /* font-size: 19px; */
    background: #83B11A;
}
.economy a span{
    line-height: 28px;
    position: relative;
    top: -7px;
}
.economy form span{
    font-size: 20px;
    margin-bottom: 28px;
    display: none;
}
.why h2{
    margin-top: 52px;
    margin-bottom: 44px;
    font-size: 34px;
    line-height: 30px;
}
.calculate h2{
    margin-top: 61px;
}
.we-can h2{
    margin-top: 32px;
    margin-bottom: 17px;
    font-size: 34px;
}
.economy h2{
    margin-top: 45px;
    font-size: 34px;
    margin-bottom: 20px;
}
.problems h2{
    margin-top: 47px;
}
.problems .nav{
    top: 390px;
}
.gallery h2{
    margin-top: 53px;
    line-height: 34px;
}
.about-us h2{
    margin-top: 51px;
    line-height: 47px;
}
.deadline h2{
    margin-top: 40px;
    margin-bottom: 129px;
}
.rewievs h2{
    margin-top: 54px;
    font-size: 34px;
    padding: 0 20px;
    line-height: 34px;
}
.rewievs .nav{
    top: 272px;
    background-color: white;
}
.contacts h2{
    transform: translate3d(-50%, -302px, 0);
}
.contacts form.active{opacity: 1;transform: translateY(0%);}
.contacts a.callback{
    margin-left: 15px;
    display: none;
}
.header .head{
    height: 100px;
    padding: 6px 0 0;
    position: absolute;
    top: 18px;
    margin-top: 0;
    z-index: 5;
    text-align: center;
}
.header h2{
    margin-top: 226px;
    text-shadow: 0 0 2px white;
    font-size: 46px;
    /* margin-top: 180px; */
}
.contacts button{
    font-size: 36px;
}
.header h2.animation{
    opacity: 1;
    transition: opacity 1s,top 0.75s;
    position: relative;
    top: 0px;
}
.header h2.animation.animated{
    opacity: 1;
    top: 0px;
}
.header h2.animation span:after{
    width: 243px;
    transition: 0.5s all 1s;
}
.header h2.animation.animated span:after{
    width: 100%;
}
.why .trigw.animation .trig:nth-child(1){transition: all 0.5s, 0.5s opacity 0.75s;}
.why .trigw.animation .trig:nth-child(2){transition: all 0.5s, 0.5s opacity 1.25s;}
.why .trigw.animation .trig:nth-child(3){transition: all 0.5s, 0.5s opacity 1.75s;}
.why .trigw.animated .trig:nth-child(1){
	/* animation: trig1_1 2s normal; */
	position: relative;
}
@keyframes trig1_1{
	0%{left: -490px;top: 0px}
	25%{left: 0px;top: 0px}
	50%{left: 0px;top: 0px}
	75%{left: 0px; top:0px;}
	100%{left: 0px; top:0px;}
}
.why .trigw.animated .trig:nth-child(2){
	/* animation: trig1_2 2s; */
	position: relative;
}
@keyframes trig1_2{
	0%{left: -980px;top: 0px}
	25%{left: -490px;top: 0px}
	50%{left: 0px;top: 0px}
	75%{left: 0px; top:0px;}
	100%{left: 0px; top:0px;}
}
.why .trigw.animated .trig:nth-child(4){
	animation: trig1_4 2s normal;
	position: relative;
}
@keyframes trig1_3{
	0%{left: -980px;top: -268px}
	25%{left: -490px;top: -268px}
	50%{left: 0px;top: -268px}
	75%{left: 0px; top:0px;}
	100%{left: 0px; top:0px;}
}
.why .trigw.animated .trig:nth-child(3){
	/* animation: trig1_4 2s normal linear; */
	position: relative;
}
@keyframes trig1_4{
	0%{top: -908px}
	25%{top: -681px}
	50%{top: -454px}
	75%{top: -227px}
	100%{top:0px;}
}
.why .trigw.animation .trig:nth-child(4){
    z-index: 3;
    transition: all 0.5s, 0.5s opacity 2.25s;
}
.why .trigw.animation .trig{
    /* opacity: 0; */
    transition: all 0.25s, opacity 0.5s;
    position: relative;
}
.why .trigw.animation.animated .trig{
    opacity: 1;
}
.why .trigw.animation p{
    /* opacity: 0; */
    position: relative;
    /* top: -30px; */
    transition: 0.5s all 2s;
}
.why .trigw.animation.animated p{
    opacity: 1;
    top: 0px;
}
.calculate .step.animation p{
    position: relative;
    top: -129px;
    transform: scale(1,0);
    transition: transform 0.5s, top 0.5s  cubic-bezier(0.24, -0.09, 1, 1);
    z-index: 2;
}
.calculate .step.animation.animated p{
    top: -79px;
    transform: scale(1,1);
}
.calculate .step.animation a{
    position: relative;
}
.calculate .step.animation.animated a{}
.calculate .step.animation a:nth-child(3){
    transform-origin: bottom left;
    /* transform: rotate(-90deg); */
    /* left: -57px; */
    /* bottom: 57px; */
    /* bottom: 125px; */
    transition: 0.5s transform 0.75s,0.5s bottom 0.75s,0.5s left 0.75s,0.75s opacity 0.25s,0.25s color 1.25s;
    transition: 0.25s transform 1s,0.25s bottom 0.75s,0.25s left 1.25s,0.5s opacity 0.5s;
    opacity: 0;
    /* color: transparent; */
}
.calculate .step.animation.animated a:nth-child(3){
    left: 0;
    bottom: 0;
    transform: rotate(0);
    opacity: 1;
    /* color: #141414; */
}
.calculate .step.animation a:nth-child(2){
    transform-origin: bottom right;
    /* transform: rotate(90deg); */
    /* right: -57px; */
    /* bottom: 57px; */
    /* bottom: 125px; */
    transition: 0.5s transform 0.75s,0.5s bottom 0.75s,0.5s right 0.75s,0.75s opacity 0.25s,0.25s color 1.25s;
    transition: 0.25s transform 1s,0.25s bottom 0.75s,0.25s right 1.25s,0.5s opacity 0.5s,background 0.25s, color 0.25s;
    opacity: 0;
    /* color: transparent; */
    transition: 0s transform 1s,0s bottom 0.75s,0s right 1.25s,0.5s opacity 0.5s,background 0.25s, color 0.25s;
}
.calculate .step.animation.animated a:nth-child(2){
    right: 0;
    bottom: 0;
    transform: rotate(0);
    opacity: 1;
    /* color: #141414; */
}
.about-us .trig:nth-child(1) p:before{
	/* animation: pil .1s infinite; */
	/* position: relative; */
	right: 105px;
}
@keyframes pil{
	0%{height: 51px;right: 104px;}
	75%{right: 110px;}
	50%{height: 30px;right: 104px;border-radius: 100px}
	75%{right: 110px;}
	100%{height: 51px;right: 104px;}
}
.about-us .trig:nth-child(1) p:after{
	/* animation: drel 0.05s infinite; */
	right: 19px;
}
@keyframes drel{
	0%{right: 16px}
	50%{right: 17px;}
	100%{right: 16px}
}
.about-us .trigw.animation .trig{
    transform: translate3d(1000px,-1000px,0);
    transition: all 0.9s ease-in-out;
}
.about-us .trigw.animation.animated .trig{
    transform: translate3d(0,0,0);
}
.about-us .trig:nth-child(1){
    transition-delay: 0.5s!important;
    /* transition-duration: 0.95s!important; */
}
.about-us .trig:nth-child(2){
    transition-delay: 0.6s!important;
    /* transition-duration: 0.8s!important; */
}
.about-us .trig:nth-child(3){
    transition-delay: 0s!important;
}
.about-us .trig:nth-child(4){
    transition-delay: 0.3s!important;
    /* transition-duration: 1.1s!important; */
}
.site-nav .up{}
.site-nav .down{}
.site-nav:after{position: absolute;width: 80px;height: 100%;top: 0;z-index: -1;}
.site-nav{
    /* position: fixed; */
    position: absolute;
    width: 50%;
    max-width: 140px;
    height: 100%;
    z-index: 2;
    top: 0;
    opacity: 0;
    transition: all 0.25s;
    cursor: pointer;
}
.site-nav.active{opacity:1!important;}
.site-nav.up{
    left: 0;
    opacity: 0;
    /* transition: all 0.25s; */
}
.site-nav.up:before{
    background: url(../img/up.png) no-repeat;
    width: 32px;
    height: 18px;
    left: 24px;
    position: absolute;
    /* top: 100%; */
    top: 50%;
    margin-top: -9px;
    z-index: 3;
    /* transition: all 0.25s; */
}
.site-nav.down:before{
    background: url(../img/down.png) no-repeat;
    width: 32px;
    height: 18px;
    right: 24px;
    position: absolute;
    /* top: 0%; */
    z-index: 3;
    top: 50%;
    margin-top: -9px;
    /* transition: all 0.25s; */
    transition: opacity 0s;
}
.site-nav:hover{
    background-position: 24px center;
    opacity: 1;
}
.site-nav:hover:before{
    top:50%;
}
.site-nav.up:after{left: 0;background: rgba(0, 0, 0, 0.15);}
.site-nav.down{
    right: 0;
}
.site-nav.down.animation{
    opacity: 0;
    transition: 0.25s opacity 2s;
}
.site-nav.down.animated{
    opacity: 1;
}
.site-nav.down:after{
    right: 0;
    background: rgba(0, 0, 0, 0.15);
}
.why .trigw .ico{
    /* background: none; */
}
.why .trigw .ico:after{
    background: none;
}
.economy form{
    /* margin-top: 25px; */
}
.we-can a:hover{/* background: none; */opacity: 1;}
.we-can .nav{
    position: absolute;
    left: 0;
    bottom: 0;
}
.we-can .nav:after{
    position: absolute;
    z-index: 1;
    height: 20%;
    width: 100%;
    background: rgba(137,168,49,.46);
    top: 0;
    opacity: 0;
    transition: all 0.25s;
}
.we-can .nav[data-sld="0"]:after{
    top: 0;
    opacity: 1;
}
.we-can .nav[data-sld="1"]:after{
    top: 20%;
    opacity: 1;}
.we-can .nav[data-sld="2"]:after{
    top: 40%;
    opacity: 1;}
.we-can .nav[data-sld="3"]:after{
    top: 60%;
    opacity: 1;}
.we-can .nav[data-sld="4"]:after{
    top: 80%;
    opacity: 1;}
.we-can .slides{
    position: absolute;
    width: 343px;
    /* margin-top: 41px; */
    height: 693px;
    right: 0;
    bottom: 0;
}
.we-can .slides .slides-lint{
    position: absolute;
    height: 500%;
    top: 0;
    /* transition: all .5s cubic-bezier(0.55, 0.06, 0.36, 0.4)!important; */
    transition: all 0.8s;
}
.we-can .slides[data-sld="0"] .slides-lint{
    left: 0;
}
.we-can .slides[data-sld="1"] .slides-lint{
    top: -100%;
}
.we-can .slides[data-sld="2"] .slides-lint{
    top: -200%;
}
.we-can .slides[data-sld="3"] .slides-lint{
    top: -300%;
}
.we-can .slides[data-sld="4"] .slides-lint{
    top: -400%;
}
.we-can .slides .trigw{
    height: 20%;
    opacity: 0;
    /* transition: 0s all .5s cubic-bezier(0.45, 0.05, 0.55, 0.95); */
    /* transition: 1s all 0s cubic-bezier(0.4, 0, 1, 1); */
    /* transition: 0.5s all 0.5s linear; */
    transition: all 1s;
    padding-top: 33px;
}
.we-can .nav a:nth-child(1){
    background-image: url(../img/n-ico1.png);
    background-position: center  26px;
    background-repeat: no-repeat;
}
.we-can .nav a:nth-child(2){
    background-image: url(../img/n-ico2.png);
    background-position: center  26px;
    background-repeat: no-repeat;
}
.we-can .nav a:nth-child(3){
    background-image: url(../img/n-ico3.png);
    background-position: center  30px;
    background-repeat: no-repeat;
}
.we-can .nav a:nth-child(4){
    background-image: url(../img/n-ico4.png);
    background-position: center  38px;
    background-repeat: no-repeat;
}
.we-can .nav a:nth-child(5){
    background-image: url(../img/n-ico5.png);
    background-position: 55px  22px;
    background-repeat: no-repeat;
}
.we-can .slides .trigw.active{
    opacity: 1;
    /* transition: 1s all 0s cubic-bezier(0.45, 0.05, 0.55, 0.95); */
    /* transition: 1s all 0s linear; */
}
.pre-loaded .we-can .big-slides{background:black;width: 343px;margin-top: 41px;right: 0!important;margin: 0;}
.we-can .big-slides{position: absolute;height: 696px;/* max-width: 500%; */transition: all 1s;top: 210px;}
.we-can .big-slides[data-sld="0"]{
    /* left: 0%; */
}
.we-can .big-slides[data-sld="1"]{
    /* left: -100%; */
}
.we-can .big-slides[data-sld="2"]{
   /* left: -200%;*/
}
.we-can .big-slides[data-sld="3"]{
    /*  left: -300%; */
}
.we-can .big-slides[data-sld="4"]{
    /*  left: -400%; */
}
.we-can .big-slides .slide.active{
    opacity: 1;
    width: 100%;
    /* left: 0; */
    z-index: 1;
}
.we-can .big-slides .slide{
    transform: none;
    margin: 0;
    position: absolute;
    height: 100%;
    opacity: 0;
    right: 0;
    transition: all 0.5s linear;
    width: 100%;
    /* width: 0; */
    top: 0;
}
.pre-loaded .we-can .big-slides .slide[data-sld="0"]{
    background-image: url(../img/bg4_1.jpg);
    background-size: cover;
}
.pre-loaded .we-can .big-slides .slide[data-sld="1"]{
    background-image: url(../img/bg4_2.jpg);
    background-size: cover;
}
.pre-loaded .we-can .big-slides .slide[data-sld="2"]{
    background-image: url(../img/bg4_3.jpg);
    background-size: cover;
}
.pre-loaded .we-can .big-slides .slide[data-sld="3"]{
    background-image: url(../img/bg4_4.jpg);
    background-size: cover;
}
.pre-loaded .we-can .big-slides .slide[data-sld="4"]{
    background-image: url(../img/bg4_5.jpg);
    background-size: cover;
}
.why .trigw .trig{
    width: 100%;
}
.calculate .step{
    background: rgba(255, 255, 255, 0.4);
}
.attention{
    background-position: bottom;
}
.economy a:hover{box-shadow:0 1px 16px #a2c835,0 1px 16px #a2c835,0 1px 16px #a2c835}
.about-us .trigw{
    margin-top: 70px;
}
.about-us .trig:nth-child(4){
    top: 438px;
}
.about-us .trig:nth-child(4):before{
    bottom: 90px;
    width: 158px;
}
.about-us .trig:nth-child(1):before{
    bottom: 225px;
}
.about-us .trig:nth-child(1):after{
	bottom: -9px;
}
.deadline .formw{
    background: rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.2);
}
.deadline .formw>p{
    color: white;
    margin-bottom: 23px;
}
.rewievs .sliderw{
    margin-top: 55px;
}
.contacts .copyright{
    line-height: normal;
    float: none;
    display: inline-block;
    /* margin-left: 97px; */
}
.contacts footer{
    background: #A0A0A0;
}
.contacts .logo-f{background-image: url(../img/logo.png);width: 227px;height: 80px;background-position: center;background-size: 90%;float: left;}
.contacts .conf-btn{display: inline-block;color: white;border-bottom: 1px dashed white;transition: all 0.25s;transition: all 0.25s;margin-left: 75px;margin-top: 10px;margin-right: 75px;margin-bottom: auto;cursor: pointer;}
.contacts .conf-btn:hover{
    border-color: transparent;
}
.why{
    background-position: bottom;
    background-color: #775A54;
    height: 1323px;
}
.site-nav.down.animation.animated:before{
	/*animation: alternate draggable 0.5s infinite cubic-bezier(.7,.01,1,1);*/
	animation: downtrack 4s infinite linear,alternate blim 0.7s infinite cubic-bezier(1, 0.03, 0, 0.99);
}
@keyframes draggable{
	/* 0%{margin-top: -9px;}
	100%{margin-top: 1px;} */
}
@keyframes downtrack{
    0%{top: 0%}
    100%{top: 100%}
}
@keyframes blim{
    0%{opacity: 1}
    100%{opacity: 0}
}
.loaded #loader{
	/* top: 200%; */
}
.calculate{
    background-color: #1E1718;
    background-image: url(../img/calc-st1-bg2.jpg);
    height: 870px;
}
.about-us{
    background-color: #312927;
    height: 900px;
}
.deadline{
    background-color: #333333;
    background-size: initial!important;
    background-position: center;
}
section.calculate>div.backgrounds{
    position: absolute;
    width: 100%;
    max-width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 0;
}
section.calculate> div.backgrounds > div.step-lint{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    margin-top: 0;
    z-index: 2;
    padding: 0;
    transition: all 0.25s;
    background-size: cover!important;
}
section.calculate> div.backgrounds > div.step-lint{
}  
section.calculate> div.backgrounds > div.step-lint.active{
    opacity: 1;
}
.calculate .step{
    position: relative;
    background: none;
}
.calculate .stepw{
    position: absolute;
    width: 100%;
    height: 100%;
    height: 400px;
    opacity: 0;
    background: rgba(255, 255, 255, 0.4);
    transition: all 0.35s;
    transform: translateY(-100%);
    z-index: -1;
}
.calculate .stepw[data-step="3"]{
	height: 500px;
}
.calculate .stepw[data-step="1"] a.g-btn{
	margin-top: 0px;
	margin-bottom: 80px;
	top: -43px;
	position: relative;
}
.calculate .stepw.active{
    opacity: 1;
    transform: translateY(0);
    z-index: 1;
}
.calculate .stepw.disactive{
    transform: translateY(100%);
}
.calculate .step-lint .step-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover!important;
    transition: opacity 0.25s;
    opacity: 0;
    z-index: 1;
}
.calculate .step-lint .step-bg[data-choise="0"]{left: 0;}
.calculate .step-lint .step-bg[data-choise="1"]{right: 0;}
.pre-loaded .calculate .step-lint[data-step="0"] .step-bg[data-choise="0"]{background-image: url(../img/calc-st1-bg1.jpg);}
.pre-loaded .calculate .step-lint[data-step="0"] .step-bg[data-choise="1"]{background-image: url(../img/calc-st1-bg2.jpg);}
.pre-loaded .calculate .step-lint[data-step="1"] .step-bg[data-choise="0"]{background-image: url(../img/bg-zamkad.jpg);background-size: initial!important;background-position: center;}
.pre-loaded .calculate .step-lint[data-step="1"] .step-bg[data-choise="1"]{background-image: url(../img/bg-mkad.jpg);background-size: initial!important;background-position: center;}
.calculate .step-lint.active[data-choise="0"] .step-bg[data-choise="0"]{opacity: 1;z-index: 2;}
.calculate .step-lint.active[data-choise="1"] .step-bg[data-choise="1"]{opacity: 1;z-index: 2;}
.calculate .step-lint.active[data-choosen="0"] .step-bg[data-choise="0"]{opacity: 1}
.calculate .step-lint.active[data-choosen="1"] .step-bg[data-choise="1"]{opacity: 1;z-index: 1;}
.calculate .stepw[data-step="1"]:before {
    position: absolute;
    background-image: url(../img/s10-strelka.png);
    width: 9px;
    height: 33px;
    left: 236px;
    top: 198px;
    transition: all 0.25s;
}
.calculate .stepw[data-step="1"]:after {
    position: absolute;
    background-image: url(../img/s10-kompas.png);
    width: 51px;
    height: 51px;
    left: 215px;
    top: 190px;
}
.pre-loaded .calculate .stepw[data-step="1"] p{
    background-image: url(../img/calc-s2-h2.png);
}
.pre-loaded .calculate .stepw[data-step="2"] p{
    background-image: url(../img/calc-s3-h2.png);
}
section.calculate> div.backgrounds > div.step-lint[data-step="1"]{background-image: url(../img/bg-mkad.jpg);background-size: initial!important;background-position: center;}
.calculate .stepw[data-step="1"][data-choise="0"]:before{
    transform: rotate(-90deg);
}
.calculate .stepw[data-step="1"][data-choise="1"]:before{
    transform: rotate(90deg);
}
.pre-loaded .calculate .step-lint[data-step="2"]{
    background-image: url(../img/calc-st3-bg.jpg);
}
.pre-loaded .calculate .step-lint[data-step="3"]{
    background-image: url(../img/calc-st4-bg.jpg);
}
.calculate .stepw .plot{
    display: none;
}
.plot a.g-btn{
    margin: 9px 5px;
}
.stepw[data-step="3"] form {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    /* background-image: url(../img/s10-form.png); */
    background-image: url(../img/form-top.png),url(../img/form-center.jpg);
    height: 355px;
    padding-top: 25px;
    /* background-position: top; */
    background-position: top,bottom;
    /* background-size: cover; */
    background-size: 100%, 480px 345px;
}
.calculate .stepw[data-step="3"] p{
    background-image: none;
    width: 100%;
    margin-top: 0;
    top: 0!important;
    height: 125px;
    font-size: 24px;
    padding: 20px 50px 0;
    line-height: 32px;
}
.calculate .stepw[data-step="3"] span{
    /* font-size: 16px; */
    /* margin-top: 0; */
    display: inline;
    /* padding: 0px 170px; */
    /* line-height: 25px; */
    /* position: relative; */
    z-index: 2;
}
.calculate a.back{
    margin: 0;
    position: absolute!important;
    /* width: 40px; */
    /* height: 28px; */
    /* background: url(../img/up.png) no-repeat top center; */
    font-size: 20px;
    /* padding-top: 10px; */
    background-size: 22px;
    bottom: 0px!important;
    left: 0px;
    padding: 14px;
    /* margin-left: -20px; */
    color: rgba(255, 255, 255, 0.6);
}
.problems .nav{
    font-size: 0;
    color: transparent;
}
.problems .nav a{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}
.problems.loaded-slider .bx-viewport{
    overflow: visible!important;
}
.problems .slide{
    transition: all 0.4s;
}
.problems .slide>*{
    transition: all 0.4s cubic-bezier(0.6, 0.05, 0.24, 0.93);
    transform-origin: top;
}
.problems .slide.fadeouted{
    opacity: 0;
}
.problems .slide.fadeouted>*{
    /* transform: scale(0,1); */
}
.bx-loading{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    z-index: 20;
    background: rgba(255,255,255,0.5);
}
.bx-loading:after{
    content: 'Загрузка...';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%,-50%,0);
    font-size: 20px;
    display: inline-block;
}
section.deadline>div.backgrounds{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
}
section.deadline>div.backgrounds>div.choise-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    background-size: cover!important;
    opacity: 0;
    transition: opacity 0.25s;
}
.deadline .backgrounds[data-choosen="0"] .choise-bg[data-choise="0"]{opacity: 1;}
.deadline .backgrounds[data-choosen="1"] .choise-bg[data-choise="1"]{opacity: 1;}
.deadline .backgrounds[data-choise="0"] .choise-bg[data-choise="0"]{opacity: 1;z-index: 2;}
.deadline .backgrounds[data-choise="1"] .choise-bg[data-choise="1"]{opacity: 1;z-index: 2;}
.deadline .backgrounds .choise-bg[data-choise="0"]{
}
.deadline .backgrounds .choise-bg[data-choise="1"]{
}
.deadline .formw:before{
    transition: all 0.25s;
}
.deadline .formw[data-choise="0"]:before{
    transform: rotate(-90deg)!important;
}
.deadline .formw[data-choise="1"]:before{
    transform: rotate(90deg)!important;
}
.deadline .formw[data-choosen="0"]:before{transform: rotate(-90deg)}
.deadline .formw[data-choosen="1"]:before{transform: rotate(90deg)}
.deadline a.g-btn.active{
    background: rgba(131, 177, 26, 0.6) url(../img/check-m.png) no-repeat 110px center;
    color: white;
}
.rewievs .nav a{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    color: transparent;
}
.rewievs.loaded-slider .bx-viewport{
    overflow: visible!important;
}
.rewievs .slide{
    transition: all 0.4s;
}
.rewievs .slide>*{
    transition: all 0.4s cubic-bezier(0.6, 0.05, 0.24, 0.93);
    transform-origin: top;
}
.rewievs .slide.fadeouted{
    opacity: 0;
}
.rewievs .slide.fadeouted>*{
    /* transform: scale(0,1); */
}
.rewievs .slide iframe{
    width: 100%;
    height: 100%;
    position: relative;
    top: -237px;
}
.arcticmodal-container,.arcticmodal-overlay{position:fixed;left:0;top:0;right:0;bottom:0;z-index:1000}
.arcticmodal-container{overflow-x: hidden;margin:0;padding:0;border:0;border-collapse:collapse;}
:first-child+html .arcticmodal-container{height:100%}
.arcticmodal-container_i{margin:0 auto;height:100%;}
.arcticmodal-container_i2{padding: 0;margin:0;border:0;vertical-align:middle;}
#hidden-box{display: none}
.fancybox-nav{
    width: 15%;
}
.pop{
    width: 450px;
    height: 339px;
    background-color: white;
    background-position: left;
    padding: 30px 35px 25px 190px;
    position: relative;
    transition: all 0.25s;
    opacity: 0;
    top: -30px;
}
.pop#pop1{
    background-image: url(../img/pop2bg.jpg);
    background-size: 165px 339px;
}
.pop#pop2{
    background-image: url(../img/pop1bg.jpg);
    background-size: 165px 339px;
}
.pop .close{
    position: absolute;
    background-image: url(../img/close.png);
    width: 30px;
    height: 30px;
    right: -15px;
    top: -15px;
    opacity: 1;
    transition: all 0.25s;
    cursor: pointer;
}
.pop p{
    color: #7C9C22;
    font-size: 20px;
    line-height: 21px;
}
.pop span{
    display: block;
    margin-top: 26px;
    font-size: 14px;
    line-height: 18px;
}
.pop .close:hover{
    transform: rotate(180deg);
}
.pop.fadedown{
    opacity: 1;
    top: 0;
}
.pop#zz,.pop#smet{
    width: 400px;
    padding: 0;
    height: 446px;
}
.pop#smet{
    height: 610px;
    width: 450px;
}
.pop#smet p{font-size: 26px!important;padding: 0 25px;}
.pop#smet span{padding: 0 20px;font-size: 22px!important;line-height: 28px!important;margin-top: 20px!important;}
.pop#zz p,.pop#smet p{
    text-align: center;
    padding-top: 29px;
    font-size: 30px;
    line-height: 36px;
    color: #141414;
}
.pop#zz span,.pop#smet span{
    margin-top: 3px;
    text-align: center;
    color: #646464;
    margin-bottom: 32px;
    font-size: 20px;
}
.pop#zz form,.pop#smet form{
    text-align: center;
}
.pop#zz input,.pop#smet input{
    margin-right: 0;
    margin-bottom: 20px;
    font-style: normal;
}
.pop#zz button,.pop#smet button{
    width: 330px;
    background-color: #89a831;
    border: none;
}
.pop#zz button:hover,.pop#smet button:hover{background: #83B11A;}
.header .logo{
    margin-right: -30px;
    width: 227px;
    margin-left: 16px;
    margin-top: 0px;
}
.header .head p.desc{
    margin: 0 auto;
    width: 380px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    padding-top: 20px;
}
section>#map>div{
    margin: 0;
}
.gallery .nav{
    width: 480px;
    height: 60px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.gallery .slider-wrap{
    width: 510px;
    margin-left: -15px;
    height: 320px;
}
.sld-pager{
    position: absolute;
    bottom: 14px;
    height: 12px;
    width: 100%;
    font-size: 0;
    text-align: center;
}
.rewievs .sld-pager{
    bottom: 30px;
}
.problems .sld-pager{
    bottom: 40px;
}
.sld-pager a{
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #cecece;
    border-radius: 10px;
    margin: 0 4px;
    transition: all 0.25s;
}
.sld-pager a.active{
    background: #89a831;
}
.gallery .slide{
    margin-right: 15px;
    margin-left: 15px;
    width: 480px!important;
    transition: all 0.4s ease-in-out;
}
.gallery .slide.active{}
.gallery a.fancy:nth-child(1){
    /* margin-right: 30px; */
}
.gallery img{
    display: block;
    margin: 0;
    float: none;
    width: 480px;
    height: 320px;
}
.gallery .sld-nav a{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    color: transparent;
}
.gallery .slide.active a.fancy:nth-child(2):after {
    opacity: 1;
    background-image: url(../img/s8-sld-right.png);
    right: 0;
}
.gallery .slide.active a.fancy:nth-child(1):before {
    opacity: 1;
    background-image: url(../img/s8-sld-left.png);
    left: 0;
}
.gallery .slide a.fancy:nth-child(2):after, .gallery .slide a.fancy:nth-child(1):before{
    content: ' '!important;
    opacity: 0;
    position: absolute;
    height: 100%;
    z-index: 2;
    top: 0;
    transition: opacity .25s;
    width: 135px;
}
.gallery.loaded-slider .bx-viewport {
    overflow: visible!important;
}
.gallery .slider{
    left: 0;
    width: initial;
}
.gallery .bx-wrapper{
    /* max-width: 980px!important; */
}
.gallery a.fancy{
    display: block;
    float: none;
    width: 100%;
}
.fancybox-close{
    position: absolute;
    background-image: url(../img/close.png);
    width: 30px;
    height: 30px;
    right: -15px;
    top: -15px;
    opacity: 1;
    transition: all 0.25s;
    cursor: pointer;
    background-size: initial!important;
}
.fancybox-close:hover{
    transform:rotate(-180deg);
}
.fancybox-skin{
    border-radius: 0;
}
.fancybox-nav span{
    position: absolute;
    background-color: #fff;
    background-image: url(../img/s8-left.png);
    width: 47px;
    height: 47px;
    border: 3px solid #89a831;
    border-radius: 30px;
    transition: opacity .25s;
    opacity: 1;
    visibility: visible;
    background-position: center!important;
    background-size: initial!important;
    }
.fancybox-next span {
    transform: scale(-1,1);
}
.fancybox-nav:hover span{
    opacity: 1
}
.gallery .nav a.active{
    color: #fff;
    background: #A6D141;
}
.gallery .all-sliders{
    position: relative;
    height: 316px;
    /* margin-top: 36px; */
}
.gallery .slidew{
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 480px;
    opacity: 0;
    transition: opacity 0.25s;
    z-index: -1;
}
.gallery .slidew.active{
    opacity: 1;
    z-index: 1;
}
.header .call{
    margin-right: 13px;
    margin-top: 3px;
}

    .pop a.new-btn {
      font-family: "Roboto";
      font-size: 16px;
      font-weight: 300;
      position: absolute;
      transition: all 0.25s;
      color: white;
      z-index: 2;
      bottom: 30px;
      left: 210px;
      }
      .pop a.new-btn:hover {
        text-decoration: underline;
        }
      .pop a.new-btn:after {
        content: '';
        background: url(../img/s8-nav-s.png) no-repeat center;
        position: absolute;
        left: -38px;
        top: -41px;
        width: 300px;
        height: 82px;
        transition: all 0.25s;
        z-index: -1;
        background-size: 100% 100%;
        }
.contacts .gulf{
    background-image: url(../img/f_logo.png);
    width: 228px;
    height: 68px;
    margin-top: 5px;
    color: white;
    background-position: bottom;
    font-size: 16px;
    padding-left: 21px;
    margin-bottom: 7px;
    margin-right: 10px;
}
#conf_pop{
    padding: 20px;
    width: 450px;
    height: initial;
}
#conf_pop p{
    color: #141414;
    font-size: 16px;
    margin-top: 10px;
    line-height: 24px;
}
#conf_pop h2{
    color: #7C9C22;
    font-size: 20px;
    line-height: 21px;
}
.menu-btn{
    width: 30px;
    height: 30px;
    position: fixed;
    z-index: 6;
    background-image: url(../img/menu-btn.png);
    top: 5px;
    left: 5px;
    cursor: pointer;
    transition: all 0.25s;
    margin-left: -50px;
}
.menu-btn:hover{
	transform: rotate(-180deg);
}
.menu-btn.active{
    margin-left: 0;
}
.menu-btn.as-close{background-image: url(../img/close-menu.png);transform: rotate(-360deg);}
.menu{
    position: fixed;
    top: 0;
    left: 0;
    /* width: 300px; */
    /* height: 100%; */
    background: rgba(0, 0, 0, 0.25);
    z-index: 5;
    padding: 60px 0px 15px;
    transition: all 0.25s;
    transform: translateX(-100%);
}
.menu.active{
    transform: translateX(0%);}
.menu a.menu-a{
    display: block;
    color: white;
    height: 36px;
    font-size: 17px;
    padding: 0px 25px 0px 15px;
    transition: all 0.25s;
    background: transparent;
    width: 200px;
    line-height: 36px;
}
.menu a.menu-a:hover{
    background: rgba(255,255,255,0.1);
}
input{transition: all 0.25s}
.error-input{
    border: 1px solid red;
}
#okgo{text-align: center;padding: 20px;width: 400px;height: initial;}
#okgo p{
    font-size: 24px;
    line-height: 36px;
}
.close-menu{
    background-image: url(../img/close.png);
    width: 30px;
    height: 30px;
    position: absolute;
    right: -45px;
    top: 15px;
    display: none;

}
.about-us .trig:nth-child(2) p span{
    margin-bottom: 35px;
    display: inline-block;
}
.contacts>div#map{
    top: -50px;
}
.header .prich{cursor: pointer;transition: all 0.25s;}
.header .prich:hover{
    background-color: #799821;
}
.attention h2{
    font-size: 35px;
  }
  #contact-btn{
    background: rgba(0,0,0,0.65) url(../img/down.png) no-repeat 348px 42px;
    height: 95px;
    text-align: center;
    color: white;
    font-size: 28px;
    cursor: pointer;
    line-height: 95px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;}